@page "/"

<PageTitle>Craigslist Computers</PageTitle>
<h1>Top 50 Computers in Orange County</h1>
<div>
<select name="sort" id="sort">
    <option value="price-h2l">Price: High to Low</option>
    <option value="price-l2h">Price: Low to High</option>
    <option value="most-recent">Most Recent</option>
</select>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Posted On</th>
            <th>Price</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12/12/2023</td>
            <td>$4000</td>
            <td>3dddddddddddddddddddddddddddddddddddddddddddddddddddddd</td>
        </tr>
    </tbody>
</table>

