@inherits LayoutComponentBase

<PageTitle>Craigslist Web Scraper for Computers</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4"> The Best Craigslist Computer Deals 
           <div class="git-link"><a href="https://github.com/dom-io" target="_blank">GitHub</a></div> 
        </div>

        <article class="content px-4">

            @Body
        </article>
    </main>
</div>
